<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <div class="container">
        <form method="POST" class="post-form" action="/author/update/{{author.id}}">
            {% csrf_token %}
            <div class="container">
                <br>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-4">
                        <h3>Update Details</h3>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Author Id:</label>
                    <div class="col-sm-4">
                        <input readonly type="text" name="id" id="id" required maxlength="20" value="{{ author.id }}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Author Name:</label>
                    <div class="col-sm-4">
                        <input type="text" name="name" id="name" required maxlength="255"
                            value="{{ author.name }}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Author Biography:</label>
                    <div class="col-sm-4">
                        <input type="text" name="bigraphy" id="biography" required maxlength="254"
                            value="{{ author.biography }}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-4">
                        <button class="btn btn-danger"><a href="/author/show">Cancle</a></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>